<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletas de Volei</title>
    <link rel="stylesheet" href="/static/estilo.css">

</head>
<body>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}
 <div>
        <h1 style="background-color: rgba(0,0,0,0.72);">{{ Titulo }}</h1>
    </div>

    {% for  Lista in ListaAtletas %}

    <div class="atletasVolei-card">
        <h2>Nome: {{  Lista.nome }}</h2>
        <img src="/static/playervolei.png">
        <p>Idade: {{  Lista.idade }} anos</p>
        <p>Posição: {{  Lista.posicao }} </p>
        <p>Experiência: {{  Lista.experiencia }} </p>
        <p>Cidade: {{  Lista.cidade }}</p>
        <p>Estado: {{  Lista.estado }}</p>
        <p>Dia: {{  Lista.dia }}</p>
        <p>Hora: {{  Lista.hora }}</p>

        <a class="btnexcluir" href="/excluir/{{  Lista.nome }}" >Excluir</a>
        <a class="btneditar" href="editar/{{  Lista.nome }}" >Editar</a>
        <br>
        <p></p>
        <a class="btncadastrar" href="/cadastro" >Cadastrar</a>

        <br>


    </div>

    {% endfor %}

</body>
</html>
